body {
    margin: 0;
}
.left {
    background-image: url("../assets/imgs/R\ \(3\).jpg");
    background-size: cover;      
    width: 50%;
    height: 100vh;
}

.container-left {
    display: flex;
    background-color: #28160173 ;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-left {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
}

.body-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column ;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-color: #231b13;
}

.right h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.container label {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.container-right h1 {
    color: white;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-input-container .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
}

.container label {
    color: white;
    font-weight: bold;
}

.container input {
    padding: 16px;
    border: none;
    border-radius: 14px;
    outline: none;
    background-color: #d5d5d57f;
    box-shadow: rgba(50, 25, 2, 0.923)0px 4px 8px;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.829);
}

.button {
    color: #351901;
    margin-top: 30px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    border-radius: 14px;
}

.button:hover {
    color: #ffffff;
    background-color: #543202;
    transition: 0.2s;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.login-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.login-text-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.text-pass {
    color: white;
    font-size: 11px;
}

.cadastro-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.cadastro-text-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cadastro-input-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.cadastro-input-container .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6px auto;
}

