#banner{
    height: 90vh;
}

#banner img{
    width: 100%;
    height: 100%;
    filter: brightness(0.3);
}

.div_intro{
    height: 400px;
    width: 700px;
    position: absolute;
    z-index: 3;
    margin-top: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.div_intro h2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Abril Fatface";
}

.sobreNos{
    height: 80vh;
    width: 100%;
}

#conteudo{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

}

.container{
    border-left: 2px solid;
    border-right: 2px solid;
    display: grid;
    width: 25%;
    word-break: break-all;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 400px;
}
.container h2{
margin-top: -60%;
}

.container p{
margin-top: -60%;
}

.container img{
    width: 150px;
    height: 150px;
    margin-left: 32%;
    margin-top: -30%;
}