  * {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  header {
    border: 2px solid;
    max-height: 80px;
    height: 100%;
    position: sticky;
    justify-content: space-between;
    z-index: 999;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.384), transparent);
  }

  ul {
    display: flex;
    margin-top: 4%;
    width: 60%;
  }

  a{
    text-decoration: none;
    font-family: "Abril Fatface";
    color: black;
    transition: 0.7s ease;
    user-select: none;
  }

  a:hover{
    font-size: 22px;
    text-shadow: 0px 0px 2px black;
  }

  .div_nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: none;
    border-left: none;
  }

  .div_nav h1{  
    height: 32px;
    align-items: center;
    width: 200px;
  }